.github_Calender{
    margin: auto;
    border: 2px solid  teal; 
    width: 65%;
    padding: 20px;
    border-radius: 10px;
}
.section__title_different{
    text-align: center;
    color: rgb(255, 0, 179);
}
.github_Calender{
    color: blueviolet;

}
